<main>

    <h1 class="form-title">Welcome to Spotted</h1>
    <br>
    <h3 class="form-title form-title--subtitle">A place where you can appreciate or talk shit about others</h3>
    <form id='auth' action='/login' method='POST'>

        {{!-- <label for=''></label> --}}
        <input type='text' name='username' placeholder="username">

        {{!-- <label for=''>Password</label>     --}}
        <input type='password' name='password' placeholder="password">

        <button type='submit'>LOG IN</button>
    </form>
    <div class="form-link">
        <span>Not a member?</span><a href="/signup">Sign up</a>
    </div>

    {{#if errorMessage}}
    <div class="err-message">{{errorMessage}}</div>
    {{/if}}
</main>