<main>

    <h1 class="form-title">Welcome to</h1>
    <div class="logo-container logo-2">
        <img src="/images/logo.png" alt="app-logo" class="app-logo">
    </div>
    <br>
    <form id='auth' action='/login' method='POST'>

        <input type='text' name='username' placeholder="username">

        <input type='password' name='password' placeholder="password">

        <button type='submit'>LOG IN</button>
    </form>
    <div class="form-link">
        <span>Not a member?</span><a href="/signup">Sign up</a>
    </div>

    {{#if errorMessage}}
    <div class="err-message">{{errorMessage}}</div>
    {{/if}}
</main>