<form action="/auth" method="post">
    <h2>Sign Up</h2>

    <label for="">Name</label>
    <input type="text" name="firstName">

    <label for="">Last Name</label>
    <input type="text" name="lastName">

    <label for="">Gender</label>

    <input type="radio" id="male" name="male" value="male" checked>
    <label for="male">Male</label>

    <input type="radio" id="female" name="female" value="female">
    <label for="female">Female</label>

    <label for="course">Course</label>

    <select id="course">
        <option value="web">Web Developement</option>
        <option value="uxui">UX-UI</option>
        <option value="data">Data</option>
    </select>

    <label for="">Username</label>
    <input type="text" name="username">

    <label for="">Password</label>
    <input type="password" name="password">
    <button>Sign Up</button>
</form>