<<<<<<< HEAD
<form action="/auth" method="post">
=======
<form action="/signup-form" method="post">
>>>>>>> aa94e71e1769781e395974af5dc14eabffdb90e9
    <h2>Sign Up</h2>

    <label for="">Name</label>
    <input type="text" name="firstName">

    <label for="">Last Name</label>
    <input type="text" name="lastName">

<<<<<<< HEAD
    <label for="">Gender</label>

    <input type="radio" id="male" name="male" value="male" checked>
=======
    {{!-- <label for="">Gender</label>
    <input type="radio" id="male" name="male" value="male">
>>>>>>> aa94e71e1769781e395974af5dc14eabffdb90e9
    <label for="male">Male</label>

    <input type="radio" id="female" name="female" value="female">
    <label for="female">Female</label> --}}
{{!-- <label for="gender">Gender</label>

<<<<<<< HEAD
    <label for="course">Course</label>
=======
<select id="gender">
    <option value="Male">Male</option>
    <option value="Female">Female</option>
    <option value="Other">Other</option>
</select>
>>>>>>> aa94e71e1769781e395974af5dc14eabffdb90e9


    <label for="course">Course</label>
    <select id="course">
        <option value="web">Web Developement</option>
        <option value="uxui">UX-UI</option>
        <option value="data">Data</option>
    </select> --}}


    <label for="">Username</label>
    <input type="text" name="username">

    <label for="">Password</label>
    <input type="password" name="password">
    <button type="submit">Sign Up</button>
</form>