<main>
    <div class="logo-container">
        <img src="/images/logo.png" alt="app-logo" class="app-logo">
    </div>
    <form id='auth' action='/signup' method='POST' class="form form--signup">

        <input type='text' name='firstName' placeholder="First Name" required>

        <input type='text' name='lastName' placeholder="Last Name" required>

        <input type='text' name='username' placeholder="Username" required>

        <input type='password' name='password' placeholder="Password" required>


        <select name='gender' id="gender">
            <option value="Male" selected>Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select>

        <select name='course' id="course">
            <option value="Web" selected>Web-Dev</option>
            <option value="Data">Data</option>
            <option value="UX-UI">UX-UI</option>
        </select>

        <button type='submit'>START GOSSIPING</button>
    </form>

    <div class="form-link">
        <span>Already a member? </span>
        <a href="/login">Login</a>
    </div>

    {{#if errorMessage}}
    <div class="err-message">{{errorMessage}}</div>
    {{/if}}
</main>