nav {
  background-color: #5c9ead;
}

.fa {
  font-size: 2rem;
}

.bottom-nav {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
  background-color: #596869;
  padding-top: 10px;
}
.top-nav {
  /* position: fixed; */
  overflow: hidden;
  top: 0;
  width: 100%;
}

body {
  height: 100vh;
  background-color: #eeeeee;
}

.btn {
  background-color: #e39774;
}

.fa-thumbs-up {
  color: #596869;
}
.fa-thumbs-down {
  color: #596869;
}

.fa-star {
  color: #596869;
}

.emoji {
  font-size: 2rem;
}

.card {
    margin: 10px;
  padding: 10px;
  display: flex;
}

a {
  font-size: 1.5rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
