<nav>
    <button action="../privateFeed.hbs">NEWS FEED</button>
    <button action ="/views/auth/login-form.hbs">LOG OUT</button>
</nav>


<div>
    <h1>{{user.firstName}} {{user.lastName}}</h1>
    <h2>{{user.gender}}</h2>
    <h3>{{user.course}}</h3>
</div>


{{!-- 
<div>
    forEach MESSAGE.USER
    messageHeader
    messageBody
</div> 
--}}