<div class="landing">
    <h1>Welcome to Spotted</h1>
    <h3>A Gossip based Social Network</h3>
    <p>With respect to other people, you can use this platform to have some fun and gently tell everyone something spicy
        about a person you like/dislike.</p>
    {{!-- <button><a href="/signup">Get Me Started</a></button> --}}
    <div class="button_cont" align="center"><a class="example_e" href="/signup">Get Me Started</a></div>
</div>
