<div class="landing">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Spotted</h1>
        <p class="lead">A Gossip based Social Network</p>
        <hr class="my-4">
        <p class="lead">With respect to other people, you can use this platform to write something funny you witnessed.
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg usefull-button working-button" href="/signup" role="button">Learn more</a>
        </p>
    </div>
</div>