<div>
    <div class="create-text-area">
        <h2>Message</h2>
        <form action='/messages/create' method='POST'>

            <textarea name="mainMessage" id="" cols="130" rows="10"></textarea>
            <button type='submit' class="btn btn-primary text-center">Submit</button>
        </form>
    </div>
</div>