<div class="newsfeed">
    <h1>NEWSFEED VIEW</h1>
    {{#each messageArr}}
    <div class="card">
        <div class="card-body">
            <h2>Anonymous just said...</h2>

            {{#if author.gender = 'Male'}}
            <h2>SSsSSs</h2>
            {{/if}}

            <h2 class="main-message">... {{this.mainMessage}}</h2>


            <div class="emojis">
                <button> &#128512</button>
                <button> &#128514</button>
                <button> &#128526</button>
                <button> &#128530</button>
            </div>


        </div>
    </div>

    {{/each}}
</div>