{{!-- <nav>
    <button>PROFILE</button>
    <button>LOG OUT</button>
</nav>

<div>
    <input type="text"> ENTER UR MESSAGE
</div>

<div>
    forEach MESSAGE
    messageHeader
    messageBody
</div> --}}