{{!-- <nav>
    <button>NEWS FEED</button>
    <button>LOG OUT</button>
</nav>


<div>
    <h1>NAME</h1>
    <h2>GENDER</h2>
    <h3>COURSE</h3>
</div>


<div>
    forEach MESSAGE.USER
    messageHeader
    messageBody
</div> --}}