/* html{
  background-color: #5C9EAD;
} */

body {
  color: rgb(0, 0, 0);
  background-color: #5c9ead;
  font-family: "Roboto", sans-serif;
}

.bg-container {
  background-color: #5c9ead;
  height: 100vh;
}
.form-control {
  border-color: #eee;
  min-height: 41px;
  box-shadow: none !important;
}
.form-control:focus {
  border-color: #5c9ead;
}
.form-control,
.btn {
  border-radius: 3px;
}
.signup-form {
  width: 500px;
  margin: 0 auto;
  padding: 30px 0;
}
.signup-form h2 {
  color: #333;
  margin: 0 0 30px 0;
  display: inline-block;
  padding: 0 30px 10px 0;
  border-bottom: 3px solid #5c9ead;
}
.signup-form form {
  color: #999;
  border-radius: 3px;
  margin-bottom: 15px;
  background: whitesmoke;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.signup-form .form-group {
  margin-bottom: 20px;
}
.signup-form label {
  font-weight: 700;
  font-size: 13px;
  color: black;
}
.signup-form input[type="checkbox"] {
  margin-top: 2px;
}
.signup-form .btn {
  font-size: 16px;
  font-weight: bold;
  background: #5c9ead;
  border: none;
  margin-top: 20px;
  min-width: 140px;
}
.signup-form .btn:hover,
.signup-form .btn:focus {
  background: #41cba9;
  outline: none !important;
}
.signup-form a {
  color: whitesmoke;
  text-decoration: underline;
}
.signup-form a:hover {
  text-decoration: none;
}
.signup-form form a {
  color: whitesmoke;
  text-decoration: none;
}
.signup-form form a:hover {
  text-decoration: underline;
}

.bottom-msg {
  color: whitesmoke;
}

.bottom-msg {
  font-size: 0.7rem;
  color: #333;
}

.bottom-msg a {
  color: #ffffff;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5c9ead;
  height: 100vh;
}

.landing h1 {
  color: #404040;
  font-size: 10rem;
}

.landing h3 {
  color: #404040;
  font-size: 6rem;
}

.landing p {
  color: #404040;
  font-size: 2rem;
}

.example_e {
  border: none;
  background: #404040;
  color: #ffffff !important;
  font-weight: 100;
  padding: 20px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

.example_e:hover {
  color: #404040 !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
}

select {
  /* margin-bottom: 1em; */
  padding: 0.25em;
  border: 0;
  border: 0.8px solid rgba(0, 0, 0, 0.3);
  border-radius: 0;
}

.box-part {
  /* border-radius: 3px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  background: #fff;
  padding: 60px 10px; */
  color: #444444;
  border-radius: 3px;
  margin-bottom: 15px;
  background: whitesmoke;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.text {
  margin: 20px 0px;
}

.fa {
  color: #4183d7;
}

.profile-page {
  text-transform: capitalize;
  background-color: #5c9ead;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-gradient .header {
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.form-gradient input[type="text"]:focus:not([readonly]) {
  border-bottom: 1px solid #fd9267;
  box-shadow: 0 1px 0 0 #fd9267;
}
.form-gradient input[type="text"]:focus:not([readonly]) + label {
  color: #4f4f4f;
}
.form-gradient textarea.md-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #fd9267;
  box-shadow: 0 1px 0 0 #fd9267;
}
.form-gradient .md-form textarea.md-textarea:focus:not([readonly]) + label {
  color: #4f4f4f;
}

.form-dark .md-form label {
  color: #fff;
}
.form-dark input[type="text"]:focus:not([readonly]) {
  border-bottom: 1px solid #00c851;
  -webkit-box-shadow: 0 1px 0 0 #00c851;
  box-shadow: 0 1px 0 0 #00c851;
}
.form-dark input[type="text"]:focus:not([readonly]) + label {
  color: #fff;
}
.form-dark textarea.md-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #00c851;
  box-shadow: 0 1px 0 0 #00c851;
  color: #fff;
}
.form-dark textarea.md-textarea {
  color: #fff;
}
.form-dark .form-control,
.form-dark .form-control:focus {
  color: #fff;
}
.form-dark .md-form textarea.md-textarea:focus:not([readonly]) + label {
  color: #fff;
}
